<div class="stripe-data-container">
  <form action="/Stripe/pullData" method="POST">
    <input type="hidden" name="userId" value="{{userId}}" />
    <button type="submit">
      Pull Stripe Customer Data
    </button>
  </form>
</div>
