<h2>Welcome to the dashboard!</h2>
<p>Your user ID is: {{user.dataValues.user_id}}</p>
<p>Your email is: {{user.dataValues.email}}</p>
<p>Your business name is: {{user.dataValues.business_name}}</p>
<p>Your Stripe API key is: {{user.dataValues.stripe_api_key}}</p>
{{>viewCustomers}}

<a href="/logout">Log out</a>