<h2>Welcome to the dashboard!</h2>
<p>Your user ID is: {{userId}}</p>
<p>Your email is: {{email}}</p>
<p>Your business name is: {{business_name}}</p>
<p>Your Stripe API key is: {{stripe_api_key}}</p>
{{>viewCustomers}}

<a href="/logout">Log out</a>